.menu-container {
    width:100%;
    display: flex;
    flex-direction: column;
    .menu-title {
        margin-top:50px;
        display: flex;
        justify-content: center;
        h2 {
            font-family: $main-font;
            color: $darkerMain;
            font-size: 40px;
            font-weight: 400;
        }
    }
    .menu-decoration {
        margin-top:20px;
        display: flex;
        justify-content: center;
    }
    .menu-types {
        margin-top:50px;
        display: flex;
        justify-content: center;
        .col-4 {
            display: flex;
            justify-content: center;
            &:first-of-type {
                .col-2 {
                    padding-top: 20px;
                }
            }
            .col-2 {
                display: flex;
                justify-content: center;
                font-family: $main-font;
                font-size: 20px;
                color: $darkerMain;
                font-weight: 400;
                width:200px;
                height: 70px;
                text-align: center;
                padding: 8px;
                border:1px solid transparent;
                &:hover {
                    border:1px solid $darkerMain;
                }
            }
            
        }
    }

    .menu-description {
        margin-top:50px;
        display: flex;
        justify-content: center;
        h3.col-9 {
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: $main-font;
            font-size: 20px;
            color: $darkerMain;
            font-weight: 400;
        }
    }

    .menu-info_container {
        display: flex;
        justify-content: center;
        margin-top:50px;
        .menu-info {
            display: flex;
            justify-content: space-between;
            .menu-info_foundation {
                h2 {
                    margin-top:30px;
                    font-size: 20px;
                    font-family: $menu-font;
                    color:$darkerMain;
                    font-weight: 400;
                }
                h3 {
                    font-size: 14px;
                    font-family: $menu-font;
                    color:$darkerMain;
                    font-weight: 300;
                }
                .line {
                    width:450px;
                    height: 1px;
                    background-color: $darkerMain;
                    margin-top:30px;
                }
                
            }
            .menu-info_items {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                h3 {
                    margin-top:55px;
                    font-size: 14px;
                    font-family: $menu-font;
                    color:$darkerMain;
                    font-weight: 300;
                }
                .line {
                    margin-top:30px;
                    width:450px;
                    height: 1px;
                    background-color: $darkerMain;
                }
            }
        }
    }
    .menu-pages {
        margin-top:30px;
        display: flex;
        justify-content: center;
        color: $darkerMain;
        font-family: $main-font;
        .col-1 {
            margin-left: 10px;
            padding-left:4px;
            padding-bottom:4px;
            width:20px;
            height: 25px;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid $darkerMain;
            }
        }
    }
}