.logged_header-info {
    display: flex;
    justify-content: center;
    margin-top:50px;
    color: $darkerMain;
    font-family: $main-font;
    font-size: 18px;
    .rectangle {
        position:relative;
        margin: 26px;
        
        &::after {
            content: '';
            position: absolute;
            width: 110px;
            height: 110px;
            border: 1px solid $darkerMain;
            left:-25px;
            bottom: -30px;
            text-align: center;
            transform: rotate(45deg);
        }
        span {
            position: absolute;
            left: 25px;
            top:-30px;
        }
        

    }
}

.logged-title {
    margin-top: 50px;
    h2 {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        color: $darkerMain;
    }
}


